<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{paper.title}}</title>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N5W9KG1PX7">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-N5W9KG1PX7');
    </script>
    <body>
        {{{body}}}
    </body>
</html>
